.title {
    color: #F25A70;
    font-family: 'Press Start 2P', cursive, sans-serif;
    font-size: 34px;
    text-shadow: 3px 3px 0 #000;


}

.title.-second{
    color: #fff;
    text-shadow: none;
    text-align: center;
}